[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/weijiangnan
[access "refs/for/refs/*"]
	read = group user/weijiangnan
	push = group user/weijiangnan
	label-Code-Review = -2..+2 group user/weijiangnan
	label-Verified = -1..+1 group user/weijiangnan
	rebase = group user/weijiangnan
	removeReviewer = group user/weijiangnan
	submit = group user/weijiangnan
[access "refs/heads/*"]
	read = group user/weijiangnan
	create = group user/weijiangnan
	push = +force group user/weijiangnan
	pushMerge = group user/weijiangnan
[access "refs/tags/*"]
	push = +force group user/weijiangnan
	pushTag = group user/weijiangnan
	pushSignedTag = group user/weijiangnan
